<% if user_signed_in? %>

<div class="hero-unit">
<h1> Estás en putapp</h1>
</div>

<% else %>


<div class="hero-unit">
<h1> Bienvenidos al demo</h1>
<p> 
	bla bla bla 
	<%= link_to "onlulo", "http://onlulo.com" %> 
<p>
	<%= link_to "Sign Up now", new_user_registration_path, class: "btn btn-success btn-large" %> 

<p>
<a class="btn btn-primary btn-large pull-right">
      Learn more
    </a>
</p>

</div>

<div class="btn-group">
  <button class="btn">Select your city</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->

    la bla bla 
	
  </ul>
</div>

<% end %> 
